* {
  margin: 0;
  padding: 0;
}

.navigation {
  margin-top: 25px;
  font-family: var(--font1);
  /* background-color: rgba(192, 119, 252, 0.74); */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left {
  display: flex;
}
.nav-left span {
  font-size: 35px;
  padding-top: 10px;
}
.nav-left ul {
  display: flex;
  align-items: center;
  margin: 0 80px;
  font-size: 22px;
  padding-bottom: 25px;
}

.nav-left ul li {
  list-style: none;
  margin: 0 14px;
  font-family: var(--font2);
  transition: all 0.3s ease-in-out;
}
.nav-left ul li a {
  text-decoration: none;
  color: black;
  transition: all 0.1s ease-in-out;
}

.nav-left ul li a:hover {
  color: var(--main-bg-color);
  font-weight: bolder;
}

.nav-right {
  margin: 10px;
  padding-bottom: 25px;
}

.content-left {
  font-family: var(--font1);
  /* width: 50%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
  z-index: 1;
}
.content-left p {
  font-size: 20px;
}

.content-right {
  /* width: 50%; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 25px;
}
.content-right img {
  height: 300px;
  border: 2px solid black;
  border-radius: 20px;
  /* z-index: 1; */
}

.content {
  height: 100%;
  display: flex;
  margin-top: 30px;
  padding: 10px;
  position: relative;
}
.content::after {
  content: "";
  background-image: url(../img/11.svg);
  position: absolute;
  width: 100%;
  height: inherit;
  opacity: 0.05;
  border-radius: 25px;
}

.home-articles {
  padding: 20px;
  background-color: rgb(247, 255, 200, 0.5);
  margin-top: 35px;
  position: relative;
}
.year-box {
  position: absolute;
  width: 250px;
  height: 250px;
  right: 20px;
  top: 100px;
  font-size: 20px;
}
.year-box div {
  margin: 12px 0px;
}
.home-article {
  display: flex;
  margin: 25px;
}

.home-article img {
  width: 300px;
}
.home-article-content {
  align-self: center;
  padding: 20px;
}
.home-article-content a {
  text-decoration: none;
  color: black;
}
.footer {
  height: 50px;
  background-color: rgb(69, 26, 185);
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(247, 163, 7);
  flex-direction: column;
}
.footer a {
  color: rgb(0, 255, 255);
}
